@import "../../assets.scss";
.schedulebody{
    display: flex;
    justify-content: center;
}
.select{
    display: none;
}
.schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
    // border:1px solid red;
    h1{
        font-size: 2em
    }
}
.past {
    height:100vh;
    width: 20vw;
    background: #AFAFAF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input{
        visibility: hidden;
    }
    input:checked + label{
        font-size: 1.2em;
    }
    label{
        font-size: 1em;
    }
}
.dayright{
    border: 1px solid grey;
    height: 23vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: $sc;
    border-top-left-radius: 20px;
    overflow: hidden;
}
.dayleft {
    border: 1px solid grey;
    height: 23vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #AFAFAF;
    border-top-right-radius: 20px;
    overflow: hidden;
}
.days{
    border: 1px solid grey;
    height: 23vh;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #AFAFAF;
    overflow: hidden;
}
.monday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.tuesday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.wednesday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.thursday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.friday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.list {
    color: white;
    height: 130px;
    font-weight: bold;

    li {
        border-bottom: $primarypurp 1px solid 
    }
}
    @media(max-width: 1000px) {
        %all-days{
            width:100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .past {
            display: none;
        }
        .select{
            display: block;
            position: absolute;;
            top:12vh
            
        }
        .schedule{
            width: 70vw;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            grid-auto-rows: minmax(240px, auto);
            grid-row-gap: 100px;
            margin:20vh auto;
        } 
        .days{
            @extend %all-days;
        }
        .dayleft{
            @extend %all-days;
        }
        .dayright{
            @extend %all-days;
        }
     }