@import "../../assets.scss";
.main{
    
    @include column; 
    height: 100vh;
    background: $primarypurp;
    color: purple;
    font-size: 1.5em;
    background: -moz-linear-gradient(top, $primarypurp 0%, #f9e3f9 100%);
    background: -webkit-linear-gradient(top, $primarypurp 0%,#f9e3f9 100%);
    background: linear-gradient(to bottom, $primarypurp 0%,#f9e3f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primarypurp', endColorstr='#f9e3f9',GradientType=0 );
    
    .formCont{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 85vh;
        width: 40vw;
        border-radius: 10px;
        background: white;
        padding: 30px;
        
        
    }
    labl
    .smallInput {
        margin: 30px;
        }
    .largeInput {
        margin: 10px 30px;
        height: 20vh;
        text-indent: 20px;
        }
@media (max-width: 1000px) {
    .formCont{
        width: 80vw;
    }
}
}
