.placeholder {
    height: 20vh;
}
.fill {
   justify-content: center; 
   width: 70vw;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
   grid-auto-rows: minmax(240px, auto);
   grid-column-gap: 50px;
   grid-row-gap: 100px;
   padding: 50px;
   overflow: scroll
//    border: 1px solid red
}
@media(max-width: 1000px) {
    .fill{
        width: 100vw;
    }
    .button{
        display: none
    }
}