.placeholder {
    height: 20vh;
}
.fill {
   justify-content: center; 
   width: 100vw; 
   display: grid;
   grid-template-columns: 330px 330px 330px;
   grid-template-rows: 260px 260px 260px;
   grid-column-gap: 50px;
   grid-row-gap: 100px;
   padding: 30px;
   overflow: auto;
//    border: 1px solid red
}