@import "../../assets.scss";

.schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    // border:1px solid red;
    width: 100vw;
    h1{
        font-size: 2em
    }
}
.past {
    height:100vh;
    width: 20vw;
    background: #AFAFAF
}
.dayright{
    border: 1px solid grey;
    height: 40vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    background: #AFAFAF;
    border-top-left-radius: 20px;
    overflow: auto;
}
.dayleft {
    border: 1px solid grey;
    height: 40vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    background: #AFAFAF;
    border-top-right-radius: 20px;
    overflow: auto;
}
.days{
    border: 1px solid grey;
    height: 40vh;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    background: #AFAFAF;
    overflow: auto;
}
.monday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.tuesday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.wednesday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.thursday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.friday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.list {
    color: white;
    // height: 130px;
    font-weight: bold;
    font-size: 1.7em;
    
    li {
        border-bottom: $primarypurp 1px solid 
    }
}
        @media(max-width: 1000px) {
            %all-days{
                width:100%;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            .schedule{
                width: 70vw;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
                grid-auto-rows: minmax(240px, auto);
                grid-row-gap: 100px;
                margin:20px;
            } 
            .days{
                @extend %all-days;
            }
            .dayleft{
                @extend %all-days;
            }
            .dayright{
                @extend %all-days;
            }
         }