@import "../../variables.scss";

.schedule{
    display: flex;
    justify-content: center;
    align-items: center;
    // border:1px solid red;
    width: 100vw;
    h1{
        font-size: 2em
    }
}
.past {
    height:100vh;
    width: 20vw;
    background: #AFAFAF
}
.dayright{
    border: 1px solid grey;
    height: 40vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    background: #AFAFAF;
    border-top-left-radius: 20px;
    overflow: scroll;
}
.dayleft {
    border: 1px solid grey;
    height: 40vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    background: #AFAFAF;
    border-top-right-radius: 20px;
    overflow: scroll;
}
.days{
    border: 1px solid grey;
    height: 40vh;
    width: 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    background: #AFAFAF;
    overflow: scroll;
}
.monday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.tuesday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.wednesday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.thursday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.friday{
    // height: 25%;
    width:100%;
    text-align: center;
    color: white;
    background: $primarypurp
}
.list {
    color: white;
    // height: 130px;
    font-weight: bold;
    font-size: 1.7em;

    li {
        border-bottom: $primarypurp 1px solid 
    }
}