.detailed {
    width: 50vw;
    text-align: left;
    padding: 20px;

    .info{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    h1 {
        border-bottom: 1px solid purple; 
    }
    ul{
        text-align: center;
    }
    .buttons{
        display: flex;
        justify-content: space-around
    }
@media(max-width: 1000px) {
    width:80vw;
    h1{
        font-size: 2em
    }
    h3{
        font-size: 1em
    }
    h4{
        font-size: 1em
    }
    .buttons{
        display: none;
    }
}
}