@import "bootstrap-scss";
@import "../../variables.scss";
.navbar-default {
    background-color: blue;
}
li {
    list-style: none;
}
.navlinks {
    display: flex;
    font-size: 16px;
}
.nav-item {
    // border: 1px solid red;
    // margin: 4px
    width: 10em
}
.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 20vw;
    // border: 1px solid red;
    
    i{
        font-size: 2em;
        color: $primarypurp;
    }
    .logo{
        border-bottom: 2px solid #E567E0 
    }
}
.button{
    color: $primarypurp;
}